<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>About - TweetSense</title>
        <link rel="icon" type="image/png" href="{{url_for('static', filename='icons/favicon-192x192.png')}}" sizes="192x192">
        <link rel="icon" type="image/png" href="{{url_for('static', filename='icons/favicon-160x160.png')}}" sizes="160x160">
        <link rel="icon" type="image/png" href="{{url_for('static', filename='icons/favicon-96x96.png')}}" sizes="96x96">
        <link rel="icon" type="image/png" href="{{url_for('static', filename='icons/favicon-16x16.png')}}" sizes="16x16">
        <link rel="icon" type="image/png" href="{{url_for('static', filename='icons/favicon-32x32.png')}}" sizes="32x32">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="{{url_for('static', filename='icons/mstile-144x144.png')}}">
        <meta name="application-name" content="TweetSense">  
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

       <link href="{{ url_for('static', filename='css/normalize.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"> 
         <link href="{{ url_for('static', filename='css/navbars.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/cursor.css') }}" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

            <!-- More Styles -->
    <link href="http://cleancanvas.herokuapp.com/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://cleancanvas.herokuapp.com/css/compiled/bootstrap-overrides.css" type="text/css" />
   <!--  <link rel="stylesheet" type="text/css" href="http://cleancanvas.herokuapp.com/css/compiled/theme.css" /> -->

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" href="http://cleancanvas.herokuapp.com/css/compiled/index.css" type="text/css" media="screen" />    
    <link rel="stylesheet" type="text/css" href="http://cleancanvas.herokuapp.com/css/lib/animate.css" media="screen, projection" /> 

        <script src="{{url_for('static', filename='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')}}"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script> 
            $(document).ready(function(){
            $(".flipper").click(function(){ 
            $(".panel").fadeToggle(1000); //Fades in the paragraph in one second
                });
                });
            $(document).ready(function(){
            $(".flip").click(function(){ 
            $(".panel1").fadeToggle(1000); //Fades in the paragraph in one second
                });
                });
                $(document).ready(function(){
            $(".flop").click(function(){ 
            $(".panel2").fadeToggle(1000); //Fades in the paragraph in one second
                });
                });
                    $(document).ready(function(){
            $(".flap").click(function(){ 
            $(".panel3").fadeToggle(1000); //Fades in the paragraph in one second
                });
                });
                        $(document).ready(function(){
            $(".flep").click(function(){ 
            $(".panel4").fadeToggle(1000); //Fades in the paragraph in one second
                });
                });
        </script>

        <style>
            @media screen and (max-width: 1505px) {
                body{
                    padding-top: 55px;
                }
            }
            p{padding-left:30px}
            .tweet{width: 510px;
            list-style-type: none;}
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

       <!--___________________NavBar Menu_____________________ -->
        <div class="navbar navbar-inverse navbar-fixed-top sticky" role="navigation">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand bluecolor"><strong>Tweetsense</strong></a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="/" class="bluecolor">HOME</a></li>

                    <li><a href="/about" class="bluecolor">ABOUT US</a></li>
                    <li><a href="/hof" class="bluecolor">Hall of Fame</a></li>
                </ul>
            </div>
        </div>
    </div>
        <!-- ______________Product Description___________________ -->
<div class="ultimate-wrapper">    
    <div class="first-article">
        <article> 
            <header>
                <h1 class="heading upperborder spaceless"> Uncommon Sense: Batman v. Superman </h1>
                <p class="maintextstyle spaceless"> <a style="font-weight: bold">Finally</a>, we can settle these age-old questions once and for all: <br>
                    <ul class="no-link">     
                        <li><a href="http://mhacks.org/" class="no-link">MHacks</a> or <a href="http://2015s.pennapps.com/" class="no-link">PennApps</a>? </li> <!-- Obviously it's MHacks -->
                        <li><a href="http://screenrant.com/batman-vs-superman-cinematic-history-henry-cavill/" class="no-link">Batman or Superman</a>?</li> <!-- Superman, Batman sucks -->
                        <li><a href="https://www.apple.com/" class="no-link">Apples</a> or <a href="http://www.orange.co.uk/" class="no-link">Oranges</a>?</li> <!-- Yuck!, neither -->
                        <li>NASDAQ:  <a href="http://bit.ly/1uerlRv">AAPL</a> or NASDAQ: <a href="http://bit.ly/1ybDlCX">GOOG</a>? </li><!--  Google all the way -->
                        <li>Google or Bin-<span id="typed-cursor" class="blinking">|</span></li> <!-- Agreed -->
                        <br>
                        <i class="blod">Wait, scratch that last one</i>
                    </ul>
            <p class="maintextstyle spaceless spacelesstop">
                Behold! <a class="blod"><i>TweetSense</i></a> instantly reports on how twitter users feel about what they tweet. For example, if someone says:
                <ul>
                    <li class="tweet">
                     <pre>&#9;"Hated the new Man of Steel movie, it sucked #superman."</pre>
                    </li>
                </ul>
            </p>
            <p class="maintextstyle spaceless spacelesstop">
            This tweet would bring superman's sentiment rating down.
                  However, let's assume a tweet says:
                <ul class="spaceless">
                    <li class="tweet"><pre>&#9;"Loved The Dark Knight Rises, it was <a class="blod">Spectactular</a> #batman".</pre>
                    </li>
                </ul>
            </p>
            <p class="maintextstyle spaceless spacelesstop">
                Then Batman's user sentiment would go up.
            </p>
            <p class="maintextstyle spaceless spacelesstop">
                After analyzing hundreds of tweets of the user's choosing from the last seven days, a wonderful graph shows up with the overall user sentiment rating.
            </p>
                </header>
                <header>
                        <h1 class="heading upperborder spaceless"> Behind The Scenes </h1>
                        <p class="maintextstyle spaceless"> We're proudest of our semantic tweet analysis (the engine that reads each tweet and is able to determine how the user felt) and equally so about locally-weighted linear regression used to predict future trends, all written from scratch. 
                        </p>

                         <p class="maintextstyle spaceless">
                            Our code parses through hundreds of recent user tweets upon request (obtained through Twitter's <a href="https://dev.twitter.com/">API</a>) and analyzes each tweet's sentiment regarding a specified term. It then displays wonderful line graphs thanks to Google's Chart <a href="https://developers.google.com/chart/">API</a>.
                         </p>
                         <p class="maintextstyle spaceless">
                            It's amazing how natural the resulting extrapolations turn out! They reflect true changes of heart.
            
                        See for yourself how our predictions of, for example, "MHacks", compare to reality! Hint: they're pretty accurate.
                        </p>

                        <!-- To bring the power of this core mathematical engine to <i>everyone's fingertips</i>, we wrapped it all in BLAH BLAH BLAH -->
                        <p class="maintextstyle spaceless">
                        We mined our source data from Twitter's awesome API.
                        We used Heroku as our web host, Python for our backend, while Javascript helped translate numbers into graphs. Of course we used responsive HTML5 and CSS3 for this super cool website. In the future, we hope to integrate Alchemy's API (when we can afford the   calls) and Bloomberg's API in the long term to provide even more interesting data.
                        </p>

                </header>
                <header>
                        <h1 class="heading upperborder"> The Team (Waffles@1)</h1>
                            <p class="flip">Peter Mauldin (click to collapse)</p>
                                <div class="panel1">
                                <p>Worked on the Back-end and Front-end.</p>
                                <p>Helped put together data from the API's and scripts on the webpages to make it all work</p>
                                <p>contact at: petermauldin@utexas.edu</p>
                                </div>
                            <p class="flop">William Widjaja</p>
                                <div class="panel2">
                                <p>Worked on the scripting, design, and graphical output</p>
                                <p>Wrote the algorithm to parse and graph the back end data. Also built the HTML and responsivity</p>
                                <p>contact at: wwidjaja@imsa.edu</p>
                                </div>    
                            <p class="flap">Samuel Tenka</p>
                                <div class="panel3">
                                <p>Math genius. Wrote Gaussian distribution weighted average methods <i>from scratch</i> to predict future sentiment</p>
                                <p>Converted data into semantic information which could be understood by humans.</p>
                                <p>contact at: samtenka@umich.edu</p>
                                </div> 
                            <p class="flep">ByungHoon Lim</p>
                                <div class="panel4">
                                <p>The first line of contact with the Twitter and Bloomberg API's</p>
                                <p>Parsed seemingly arbitrary data into usable data on the backend</p>
                                <p>contact at: seian.hoon@gmail.com</p>
                                </div>
                            <p class="flip">Why "Waffles at 1"?</p>
                                <div class="panel">
                                <p>On the first night of MHacks V, students were scheduled to have a waffle break at 1 am</p>
                                <p>In a dramatic turn of events, the waffle machine blew a fuse, and thus no waffles could be consumed by the zealous Hackers. The team then decided that the waffles were so awesome, that they wrecked the waffle machine. We used that energy to produce the awesomeness in front of you. And will continue to carry on the legacy of the late ... waffles@1</p>
                                </div>     
                </header>
            </article>    
        </div>


        <!-- // <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
        <script>window.jQuery</script>

        <script src="{{url_for('static', filename='js/main.js')}}"></script>

        <!-- Google Analytics code -->

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-58718413-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>