<!DOCTYPE html>
<html>
<!-- Combination of index and base -->
  <head>
    {% if title %}
    <title>{{ title }} - WafflesAtOne</title>
    {% else %}
    <title>WafflesAtOne</title>
    {% endif %}
    <link rel="stylesheet" type='text/css' href="stylesheet.css">
  </head>
    
<body>
<!-- <span id="typed-cursor" class="blinking">|</span> -->
    <h1>Enter your search query:</h1>
    <form action="" method="post" name="login">
    	{{ form.hidden_tag() }}    	
    	<p>
    		Please enter your search query:<br>
            {{ form.query(size=80) }}
        </p>

    	<p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>